.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.container3{
background-color: black;
    margin: 0px;
    padding-top: 55px;
    padding-bottom: 55px;
display:flex;
}